## Deployment configuration — copy to .env and fill in values

WEB_APP_NAME_PREFIX=""
RESOURCE_GROUP=""
LOCATION=""
PUBLISHER_ADMIN_USERS=""
TENANT_ID=""
AZURE_SUBSCRIPTION_ID=""
AD_APPLICATION_ID=""
AD_APPLICATION_SECRET=""
SQL_SERVER_NAME=""
SQL_DATABASE_NAME=""
